.StampInfo {

	.StampInfoList {
		padding: 2rem 0 6rem;
		
		li {
			padding: 0.3rem 1rem;
		}
	}

	.StampModify {
		position: absolute;
		display: block;
		width: 3rem;
		height: 3rem;
		text-align: center;
		line-height: 3rem;
		bottom: 1.5rem; left: 50%;
		margin-left: -1.5rem;
	}
}